/*************************************************** 
    HEADER SECTION
****************************************************/
.desktop-menu {
    display: none;
}

.header-bottom {
    padding-top: 75px;
    min-height: 500px;
}

.my-image {
    width: 200px;
}

.icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin: 0 auto;
}

.icon span {
    width: calc(30% + 1.5rem);
}

.header-bottom .icon hr {
    border: 2px solid white;
    opacity: 1;
    border-radius: 5px;
}

/*************************************************** 
    MAIN SECTION
****************************************************/

/***************************** 
    PORTFOLIO SECTION
******************************/

.portfolio .container-sm {
    padding-top: 50px;
}

.portfolio .icon hr {
    border: 2px solid black;
    opacity: 1;
    border-radius: 5px;
}

.portfolio .icon span {
    width: calc(30% + 1.5rem);
}

/*************************************************** 
    FOOTER SECTION
****************************************************/













/*************************************************** 
    RESPONSIVE
****************************************************/

/********************* 
    TABLET (>576px)
**********************/
@media screen and (min-width: 576px) {
    .desktop-menu {
        display: block;
    }

    .navbar-toggler {
        display: none;
    }
}


/********************* 
    DESKTOP (>992px)
**********************/

