/*************************************************** 
    HEADER SECTION
****************************************************/
.desktop-menu {
    display: none;
}

/*************************************************** 
    MAIN SECTION
****************************************************/



/*************************************************** 
    FOOTER SECTION
****************************************************/













/*************************************************** 
    RESPONSIVE
****************************************************/

/********************* 
    TABLET (>576px)
**********************/
@media screen and (min-width: 576px) {
    .desktop-menu {
        display: block;
    }

    .navbar-toggler {
        display: none;
    }
}


/********************* 
    DESKTOP (>992px)
**********************/

