/*************************************************** 
    UTILITIES
****************************************************/
.my-width {
    max-width: 60%;
}

/********************* 
    BACKGROUND COLORS
**********************/
.my-grey {
    background-color: #2C3E50;
}

.my-lightgreen {
    background-color: #1ABC9C;
}

.my-darkblue {
    background-color: #3A546D;
}

.my-white {
    background-color:#FFFFFF;
}


/********************* 
    TEXT
**********************/

.my-link-green {
    color: #1ABC9C;
}

/********************* 
    CONTAINERS
**********************/